<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= entry.pageTitle %></title>
    <meta name="description" content="<%= entry.pageMetaDescription %>" />

    <!-- bootstrap css -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" type="text/css" href="css/values.css">
  </head>
  <body>

    <!-- banner section -->
    <section class="value-banner">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="content text-center">
              <img src="images/values-images/big-red-path.png" alt="path" width="">
              <h1>Our Purpose, Values and Behaviours</h1>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Purpose section -->
    <section class="our-purpose">
      <!-- Title -->
      <div class="col text-center py-3">
        <h2>Our Purpose</h2>
      </div>
    
      <!-- sections -->
      <div>
        <div class="d-flex">
          <div class="image" style="background: url('<%= entry.purposeSection1Banner.fields.file.url %>') no-repeat left / cover; min-height: 616px;">
          </div>
          <div class="content d-flex align-items-start justify-content-center flex-column p-5">
            <img src="images/values-images/small-red-path.png" alt="path" class="pb-3">
            <h4><%= entry.purposeSection1Text %></h4>
          </div>
        </div>
      </div>

      <div>
        <div class="d-flex">
          <div class="content red-bg red-texture-bg text-white d-flex align-items-start justify-content-center flex-column p-5">
            <img src="images/values-images/small-white-path.png" alt="path" class="pb-3">
            <h4><%= entry.purposeSection2Text %></h4>
          </div>
          <div class="image right-image" style="background: url('<%= entry.purposeSection2Banner.fields.file.url %>') no-repeat left / cover; min-height: 616px;">
          </div>
        </div>
      </div>
    </section>


    <!-- Values section -->
    <section class="our-purpose">
      <!-- Title -->
      <div class="col text-center py-4">
        <img src="images/values-images/big-red-path.png" alt="path" width="">
        <h4 class="pt-2 pb-4"><%= entry.valueSubText %></h4>
        <h2>Our Values</h2>
      </div>
    
      <!-- sections -->
      <div>
        <div class="d-flex">
          <div class="image" style="background: url('<%= entry.valuesSection1Banner.fields.file.url %>') no-repeat left / cover; min-height: 520px;">
          </div>
          <div class="content d-flex align-items-start justify-content-center flex-column p-5">
            <img src="images/values-images/small-red-path.png" alt="path" class="pb-3">
            <h3><%= entry.valuesSection1Heading %></h3>
            <p><%= entry.valuesSection1Text %></p>
          </div>
        </div>
      </div>
      <div>
        <div class="d-flex">
          <div class="content red-bg text-white d-flex align-items-start justify-content-center flex-column p-5">
            <img src="images/values-images/small-white-path.png" alt="path" class="pb-3">
            <h3><%= entry.valuesSection2Heading %></h3>
            <p><%= entry.valuesSection2Text %></p>
          </div>
          <div class="image right-image" style="background: url('<%= entry.valuesSection2Banner.fields.file.url %>') no-repeat left / cover; min-height: 520px;">
          </div>
        </div>
      </div>
      <div>
        <div class="d-flex">
          <div class="image" style="background: url('<%= entry.valuesSection3Banner.fields.file.url %>') no-repeat left / cover; min-height: 520px;">
          </div>
          <div class="content yellow-bg text-white d-flex align-items-start justify-content-center flex-column p-5">
            <img src="images/values-images/small-red-path.png" alt="path" class="pb-3">
            <h3><%= entry.valuesSection3Heading %></h3>
            <p><%= entry.valuesSection3Text %></p>
          </div>
        </div>
      </div>
      <div>
        <div class="d-flex">
          <div class="content green-bg text-white d-flex align-items-start justify-content-center flex-column p-5">
            <img src="images/values-images/small-white-path.png" alt="path" class="pb-3">
            <h3><%= entry.valuesSection4Heading %></h3>
            <p><%= entry.valuesSection4Text %></p>
          </div>
          <div class="image right-image" style="background: url('<%= entry.valuesSection4Banner.fields.file.url %>') no-repeat left / cover; min-height: 520px;">
          </div>
        </div>
      </div>
      <div>
        <div class="d-flex">
          <div class="image" style="background: url('<%= entry.valuesSection5Banner.fields.file.url %>') no-repeat left / cover; min-height: 520px;">
          </div>
          <div class="content blue-bg text-white d-flex align-items-start justify-content-center flex-column p-5">
            <img src="images/values-images/small-red-path.png" alt="path" class="pb-3">
            <h3><%= entry.valuesSection5Heading %></h3>
            <p><%= entry.valuesSection5Text %></p>
          </div>
        </div>
      </div>
    </section>


    <section id="video" class="video-banner-value">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-white text-center pt-5">
              <h2>Behaviours</h2>
            </div>
            <div class="text-center">
              <a href="#" class="vpop" data-type="youtube" data-id="tR_1p3LxpTM" data-autoplay='true'><img src="images/video.png"></a>
            </div>

          </div>
        </div>
      </div>
    </section>

    <!-- VIDEO POPUP -->
    <div id="video-popup-overlay"></div>

    <div id="video-popup-container">
      <div id="video-popup-close" class="">&#10006;</div>
      <div id="video-popup-iframe-container">
        <iframe id="video-popup-iframe" src="" width="100%" height="100%" frameborder="0"></iframe>
      </div>
    </div>


    <!-- bootstrap script -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>

    <script type="text/javascript">
      
      // Video popup script
      $(".vpop").on('click', function(e) {
        e.preventDefault();
        $("#video-popup-overlay,#video-popup-iframe-container,#video-popup-container,#video-popup-close").show();
        
        var srchref='',autoplay='',id=$(this).data('id');
        if($(this).data('type') == 'vimeo') var srchref="//player.vimeo.com/video/";
        else if($(this).data('type') == 'youtube') var srchref="https://www.youtube.com/embed/";
        
        if($(this).data('autoplay') == true) autoplay = '?autoplay=1';
        
        $("#video-popup-iframe").attr('src', srchref+id+autoplay);
        
        $("#video-popup-iframe").on('load', function() {
          $("#video-popup-container").show();
        });
      });

      $("#video-popup-close, #video-popup-overlay").on('click', function(e) {
        $("#video-popup-iframe-container,#video-popup-container,#video-popup-close,#video-popup-overlay").hide();
        $("#video-popup-iframe").attr('src', '');
      });
    </script>

  </body>
</html>
